<div class="front-web-layer">
<div class="container">
<div class="row">
<div class="col-lg-12 bgffffff">
	<div class="mark-list">
		<ul class="mark-list">
			<li>
				<h2>communities</h2>
				<ul>
					<li>
						<h3>synthetical</h3>
						<ul class="list-inline">
							<li><a href="http://www.csdn.net" target="_blanck">csdn</a></li>
							
						</ul>
					</li>
					<li>
						<h3>nodejs</h3>
						<ul class="list-inline">
							<li><a href="http://cnodejs.org/" target="_blanck">cnodejs</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<p>front web materials</p>
</div>
</div>
	
</div>
</div>