---
layout: default
---
<h1 class="post-name">{{ page.title }}</h1>
<div class="row">
	<div class="col-lg-3">ss</div>
	<div class="col-lg-9">{{ content }}</div>
</div>

	<div class="pagenation">
		{% if page.previous %}
	    	<a class="btn btn-success pull-left"  href="{{ page.previous.url }}" rel="bookmark" style="float:right">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
	    {% endif %}
	    {% if page.next %}
	      <a class="btn btn-success pull-right" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
	    {% endif %}
	    
  	</div>
	     <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'bugknightyyp'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'bugknightyyp'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script> 
	    

<!--for syntax hight light-->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeMidnight.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script>
function path()
{
  var args = arguments,
      result = []
      ;
       
  for(var i = 0; i < args.length; i++)
      result.push(args[i].replace('@', 'http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/') + ".min.js");
       
  return result
};
 
SyntaxHighlighter.autoloader.apply(null, path(
  'applescript            @shBrushAppleScript',
  'actionscript3 as3      @shBrushAS3',
  'bash shell             @shBrushBash',
  'coldfusion cf          @shBrushColdFusion',
  'cpp c                  @shBrushCpp',
  'c# c-sharp csharp      @shBrushCSharp',
  'css                    @shBrushCss',
  'delphi pascal          @shBrushDelphi',
  'diff patch pas         @shBrushDiff',
  'erl erlang             @shBrushErlang',
  'groovy                 @shBrushGroovy',
  'java                   @shBrushJava',
  'jfx javafx             @shBrushJavaFX',
  'js jscript javascript  @shBrushJScript',
  'perl pl                @shBrushPerl',
  'php                    @shBrushPhp',
  'text plain             @shBrushPlain',
  'py python              @shBrushPython',
  'ruby rails ror rb      @shBrushRuby',
  'sass scss              @shBrushSass',
  'scala                  @shBrushScala',
  'sql                    @shBrushSql',
  'vb vbnet               @shBrushVb',
  'xml xhtml xslt html    @shBrushXml'
));
SyntaxHighlighter.all();
</script>